<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioGestion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2231/ServicioGestion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioGestion"
                contract="ServiceReference1.IServicioGestion" name="BasicHttpBinding_IServicioGestion" />
        </client>
    </system.serviceModel>
</configuration>