<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="30" useHostingIdentity="true" cookieless="false"></sessionState>
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/privada/errores/404.html" />
      <error statusCode="401" redirect="/privada/errores/401.html" />
      <error statusCode="500" redirect="/privada/errores/500.html" />
    </customErrors>
    <authentication mode="Forms">
      <forms name=".login" loginUrl="Default.aspx" path="/" timeout="30" protection="All">
        <credentials passwordFormat="Clear">
          <user name="Admin" password="admin" />
          <user name="Supervisor" password="super" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <location path="privada">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/privada/errores/404.html" responseMode="ExecuteURL" />
      <remove statusCode="401" />
      <error statusCode="401" path="/privada/errores/401.html" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/privada/errores/500.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioGestion" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2231/ServicioGestion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioGestion"
        contract="srvGestion.IServicioGestion" name="BasicHttpBinding_IServicioGestion" />
    </client>
  </system.serviceModel>
</configuration>